/build/
/rust/cp-proof-ffi/target/
/third_party/blake3/
/third_party/onednn-src/
/third_party/.case5_onednn_tag
/src/onednn/third_party/gemmstone/
/src/onednn/third_party/ngen/
/src/onednn/third_party/.case5_onednn_tag
internal/
*.exe
*.obj
*.exp
pp_dev_*
pp_prod_*
